div.login{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
}

.loginlayout{
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 5px;
    height: 100%;   
    
}
.loginlayout h3{
    text-align: center;
    font-family: none;
}

.navbar{
    background:gray;
    height: 100px;
}

.nav-item
{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: darkblue;
  
}

.headerimg{
    width: 200%;
    height: 200%;
    text-align: center; 
}

.centertext h1{
  text-align: center;
  color: white;
}

.sidenav {
    margin-top: 100px;
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    /* overflow-x: hidden; */
    padding-top: 0;
    overflow-y:scroll; 
  }
  

.sidenav .ulclass{
  margin-top: 0;
  padding: 6px 0 0 0px;
  height: 23px;
}
  .sidenav .nav-link {
    padding: 0px 0 0 0px;
    /* padding-top:50px; */
    text-decoration: none;
    font-size: 25px;
    color: black;
    /* display: block; */
    overflow: scroll;
    
  }
  
  .sidenav Link:hover {
    color: #7a2424;
  }


  .excom{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
  }